<section class="flex flex-col md:flex-row gap-x-8 items-center justify-center gap-y-6">
    <div class="text-white [&>p]:mb-4 [&>p>strong]:text-violet-300 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
        <p>
            Mi nombre es José Quiñónez, padre de dos hermosas niñas. Mi acercamiento inicial a la tecnología fue a través del control de calidad de software y la automatización de pruebas. <strong>Actualmente me desempeño como desarrollador de software</strong>, tanto en el ámbito de la web como en el de aplicaciones móviles, colaborando con un gran equipo en una innovdora empresa en el sector.
        </p>
        
        <p>
            Estoy muy orgulloso de mí por haber seguido mi pasión por la programación, siempre buscando <strong>crear soluciones que mejoren la interacción de los usuarios con los sistemas digitales</strong>. En el último año, utilizado inteligencia artificial, para enriquecer y facilitar estas experiencias.
        </p>
        
        <p>
            En mi rol como desarrollador, poseo competencias en diversos lenguajes de programación, incluyendo C#, PHP y JavaScript. Tengo experiencia práctica en frameworks como <em class="italic">Blazor, MAUI y Laravel</em>. Además, <strong>administro un blog sobre C# donde comparto insights y aprendizajes con una activa comunidad de desarrolladores hispanohablantes.</strong>
        </p>
    </div>

    <img src="Jose1.jpeg" alt="José Quiñónez" class="size-40 rounded-full order-1 md:order-2">
</section>
