---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: 'Junior Frontend Developer',
        date: 'Actualmente',
        description: 'Desarrollo de aplicaciones web y móviles, utilizando tecnologías como Blazor, ASP .NET, Xamarin, MAUI, entre otras.',
        link: 'https://www.tsc.com.gt',
        company: 'TSC',
    },
    {
        title: 'QA Analyst',
        date: 'Jan 2018',
        description: 'Análisis de requerimientos, diseño de casos de prueba, ejecución de pruebas manuales y automatizadas, reporte de defectos y seguimiento de los mismos.',
        company: 'TSC',
    },
    {
        title: 'Analista de Procesos',
        date: 'Jan 2017',
        description: 'Documentación de procesos, análisis de requerimientos, diseño de casos de uso, pruebas de aceptación y capacitación a usuarios.',
        company: 'TATA',
    }
]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">   
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }               
</ol>

