<header class="text-xs lg:text-lg flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="text-white flex flex-row gap-x-5 md:gap-x-10 opacity-80">
        <a href="/#top">Inicio</a>
        <a href="/#experiencia">Experiencia</a>
        <a href="/#projectos">Projectos</a>
        <a href="/#sobre-mi">Sobre mí</a>
        <a href="/#contacto">Contáctame</a>
    </nav>
</header>